body {
    background-color: green;
}

#container {
    background: lightgreen;
    width: 40%;
    min-width: 360px;
    display: flex;
    gap: 10%;
    margin-top: 2%;
}


#result {
   margin-left: 10%;
}

